<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0,minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/e7599286a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="../css/entregados.css">
    <title>Entregados</title>
</head>
<body>
    <!--Menu y encabezado-->
    <header>
        <div class="contenido-heder">
            <div class="Logo">
                <h1>Wiscas<b>Reparaciones</b></h1>
            </div>
            <div class="menu" id="mostrar-menu">
                <nav>
                    <ul>
                        <li><a href="../view/inicio.html">Inicio</a></li>
                        <li><a href="../view/entregados.html">Entregados</a></li>
                        <li><a href="../view/trabajando.html">Trabajando</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="icon-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
</body>
</html>