<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0,minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/e7599286a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/principal.css">
    <link rel="stylesheet" href="../css/inicio.css">

    <title>Inicio</title>
</head>
<body>
    <!--Menu y encabezado-->
    <header>
        <div class="contenedor-header">
            <div class="logo">
                <h1>Wiscas<b>Reparaciones</b></h1>
            </div>
            <div class="menu" id="mostrar-menu">
                <nav>
                    <ul>
                        <li><a href="../view/inicio.html">Inicio</a></li>
                        <li><a href="../view/entregados.html">Entregados</a></li>
                        <li><a href="../view/trabajando.html">Trabajando</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="icon-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <!--Portada-->
    <div class="contenedor-portada-inicio">
        <div class="contenedor-info-portada-inicio">
            <h1>¿Trabajado Duro?</h1>
            <p>¿o durando en el trabajo?</p>
        </div>
    </div>

    <div class="container-footer">

        <footer>
            <div class="logo-footer">
                <img src="../img/gato.ico" alt="">
            </div>
            <div class="redes-footer">
                <a href="#"><i class="fa-brands fa-facebook icon-redes-footer"></i></a>
                <a href="#"><i class="fa-brands fa-instagram icon-redes-footer"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok icon-redes-footer"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter icon-redes-footer"></i></a>
            </div>
            <hr>
            <h4>@ 2024 JJACIndustris - Todos los derechor reservados </h4>
        </footer>
</body>
</html>